*{
    background-color: black;
}

h1{
    font-size: 3rem;
}

.image{
    width: 100%;
    border: 10px solid white;
}

.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    color: white;
    

}

